/* CSS that exists on every page */
html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: rgb(8, 66, 91);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    flex: 5;
    border-bottom: solid 4px white;
}

main {
    flex: 30;
    display: flex;
    flex-direction: row;
}

nav {
    flex: 1;
    border-right: solid 4px white;
    padding-left: 8px;
    padding-right: 8px;
}

#content {
    flex: 8;
    padding-left: 8px;
    padding-right: 8px;
}

footer {
    flex: 2;
    border-top: solid 4px white;
}

header, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

nav > * {
    margin: 2px;
}

#usernameDisplay {
    margin-top: 5px;
    font-size: larger;
}

ul {
    list-style-type: circle;
    padding-left: 20px;
}

.flashcardWrapper {
    container-type: size;
    container-name: flashcard;

    display: flex;
    flex: 1;
    border: solid 2px black;
    border-radius: 2px;
    background-color: rgb(218, 217, 217);
    color: rgb(38, 38, 38);
    background-image: repeating-linear-gradient(
        to top, 
        rgb(200, 190, 51) 0%,
        rgb(200, 190, 51) 4px,
        rgb(218, 217, 217) 4px,
        rgb(218, 217, 217) 20%
    );
}

@media (max-height: 350px) {
    .flashcardWrapper {
        background-image: repeating-linear-gradient(
            to top, 
            rgb(200, 190, 51) 0%,
            rgb(200, 190, 51) 1px,
            rgb(218, 217, 217) 1px,
            rgb(218, 217, 217) 20%
        );
    }
}

.flashcard {
    font-size: 17cqh;
    text-align: center;
    flex: 1;
    line-height: 20cqh;
    padding-top: 1cqh;
}


@media (orientation: portrait) {
    main {
        flex-direction: column;
    }
    nav {
        border-right: none;
        border-bottom: solid 4px white;
    }
    h1 {
        font-size: 4cqh;
    }
    h2 {
        font-size: 3cqh;
    }
    html, button, select {
        font-size: 2cqh;
    }
}

/* Buttons and Selects styling */
select, button, option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 2px black;
    border-radius: 2px;
    background-color: rgb(218, 217, 217);
    color: rgb(38, 38, 38);
    font-weight: 500;
}

button:hover {
    background-color: rgb(240, 240, 240);
}

button:active {
    background-color: white;
}

/* Link colors */
a:link {
    color: rgb(140, 199, 224);
}

a:visited {
    color: rgb(162, 75, 202);
}

a:hover:link {
    color: rgb(192, 210, 218);
}

a:hover:visited {
    color: rgb(184, 142, 203);
}

a:active {
    color: white;
}