#content {
    display: flex;
    flex-direction: column;
}

#study {
    display: flex;
    flex-direction: row;
    flex: 10;
    gap: 4px;
    margin-bottom: 8px;
}

.arrow {
    flex: 0.2;
    font-size: 10cqi;
    font-weight: bold;
}

#studiers {
    flex: 1;
}